<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>主页</title>
</head>

<body>
<div style="border-bottom:#FF0000 solid 2px; height: 100px;" align="right" >
	{% if not isLogin %}
		<a href="./login">登录</a>
	{% else %}
		<label>{{ username }}</label>
		<a href="./logout">退出</a>
	{% endif %}
	<br />
	<a href="./publish">发布问题</a>
</div>
<div align="center">
<ul>
		<li>a</li>
		{% for item in question %}
			<li>item.title</li>
		{% endfor %}
	</ul>
</div>
</body>
</html>
