<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>登录</title>
</head>

<body>
<form id="form1" name="form1" method="GET" action="./login_to_home">
<label>用户名：</label>
<input name="username" type="text" /><br />
<label>密码：</label>
<input name="password" type="password" /><br />
<input type="submit" value="登录" />
</form>
</body>
</html>